<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title mb-0">Edit Species</h1>
                (<a href="/species/<%= specie.id %>">cancel</a>)
            </div>
        </div>
        <div class="columns">
            <div class="column is-4"></div>
            <div class="column is-4">
                <form action="/species/edit/<%= specie.id %>/?_method=PUT" method="POST">
                    <div class="field">
                        <div class="control">
                            <label for="name">Name</label>
                            <input class="input is-small" type="text" id="name" name="name" value="<%= specie.name %>" required />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="img">Image</label>
                            <input class="input is-small" type="text" id="img" name="img" value="<%= specie.img %>" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="wiki">Wikipedia</label>
                            <input class="input is-small" type="text" id="wiki" name="wiki" value="<%= specie.wiki %>" />
                        </div>
                    </div>
                    <button class="button is-block is-info is-fullwidth is-small" type="submit">Submit</button>
                </form>
            </div>
            <div class="column is-4"></div>
        </div>
    </div>
</div>